body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  /* width: 100vw;
  height: 100vh; */
  background: url("./images/Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #e1e6ec;
  width: 100%;
  height: 100%;
  color: #044083;
}

* {
  margin: 10px;
}

h1 {
  margin: 0;
  padding: 0;
}

.margin-right {
}

h1 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 97px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 36px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
}

h5 {
  font-size: 20px;
  margin-left: 0;
}

h6 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

p {
  font-size: 14px;
}

.line-class {
  line-height: 60px;
}

.line-class-80 {
  line-height: 80px;
}

.tb-gold {
  color: #c37c10;
}

.box1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.top-text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.title {
  text-align: left;
  background-color: #cae4f1;
  margin: 5px 0;
}

.statement-title {
  background-color: #cae4f1;
}

.body-flex {
  display: flex;
  align-items: flex-start;
  padding: 5px;
  margin-bottom: 10px;
}

.body-section {
  padding: 0 5px;
}

.border table,
th,
td {
  padding: 2px;
  border: 1px solid #044083;
  border-collapse: collapse;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 10px 0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.download-box-1 {
  display: flex;
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}
.download-box-2 {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: left;
}

.download img {
  max-height: 40px;
  padding: 3px;
  max-width: 100px;
}

.centered-image {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.inner-img {
  display: none;
}

.update-section {
  display: flex;
  justify-content: center;
}

.padding-50 {
  padding: 0 70px;
  margin: 0;
}

.align-items {
  display: flex;
  align-items: center;
  margin: 0;
}

.mb30 {
  margin-bottom: 30px;
}

.justify-content {
  display: flex;
  justify-content: center;
}

.logo-justify {
  display: flex;
  justify-content: right;
}

.box2 img {
  width: 800px;
}

@media only screen and (max-width: 600px) {
  * {
    margin: 0;
  }

  body {
    background: url("./images/Background\ Mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-color: #e1e6ec;

    height: 100%;
    color: #044083;
  }

  margin-right {
    margin-right: 0;
    min-width: 100%;
  }

  .body-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo-justify {
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .logo-justify img {
    width: 150px;
  }

  .justify-content {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  .box1 {
    display: block;
    width: 100%;
  }

  .box2 {
    display: block;
    width: 100%;
  }

  .download {
    height: 30px;
    width: 80%;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  }

  .download img {
    max-height: 30px;
    max-width: 70px;
    padding: 1px;
  }

  .download-box-1 {
    width: 30%;
    height: 100%;
  }
  .download-box-2 {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: left;
  }

  .inner-img {
    display: block;
  }

  h1 {
    font-size: 35px;
  }

  h3 {
    font-size: 14px;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 12px;
  }

  span {
    font-size: 12px;
  }

  p {
    font-size: 10px;
  }

  .pin-image {
    width: 200px;
  }

  .logo-image {
    width: 100px;
    margin-bottom: 20px;
    margin-top: 200px;
  }

  .footer-section p {
    font-size: 9px;
  }

  .box2 img {
    width: 100%;
    position: absolute;
    top: 25%;
  }

  .hide-on-mobile {
    display: none;
  }

  .head-section {
  }

  .inner-img img {
    width: 100%;
    position: relative;
    top: 50px;
    margin-bottom: 20px;
  }

  .line-class {
    line-height: 30px;
  }

  .line-class-80 {
    line-height: 25px;
  }

  .mb30 {
    margin-bottom: 15px;
  }

  .top-text-center {
    text-align: center;
    margin-bottom: 10px;
  }

  .padding-50 {
    padding: 0 20px;
  }

  .mobile-icons {
    height: 15px;
  }

  .margin5 {
    margin: 5px 0;
  }
}
